*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100vw;
    flex-direction: column;
    background-color: pink;
    min-height: 100vh;
}
.face1{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    /* flex: 1; */
    border: 2px;
    margin: 10px;
    background-color: blanchedalmond;
    border-radius: 20px;
}
.box1{
    height:40vh;
}
.emoji{
    
    position:relative;
    display: flex;
    background-color: rgb(64, 132, 221);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: radial-gradient(
    rgb(64, 132, 221) 40%,
    rgb(12, 36, 68)  150%
    );
 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.eyes {
    display: flex;
    position: absolute;
    background-color: #ffffff;
}

.lefteye{
    display: flex;
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width:100px;
    background-color: #ffffff;
    top: 50px;
    left: 20px;
}

.lefteyeball{
    display: flex;
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width:50px;
    background-color: #000000;
    top: 60px;
    left: 30px; 
}

.righteye{
    display: flex;
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width:100px;
    background-color: #ffffff;
    top: 50px;
    left: 170px;
}

.righteyeball{
    display: flex;
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width:50px;
    background-color: #000000;
    top: 60px;
    left: 185px;
}

.blush{
    display: flex;
    position: absolute;
    border-radius: 50%;
    height: 80px;
    width:80px;
    background-color: #ecb3db;
    top: 120px;
    left: 210px;  
        background-image: radial-gradient(
    rgb(235, 170, 221) 40%,
    rgb(182, 33, 115)  150%
      );
}

.blush2{
    display: flex;
    position: absolute;
    border-radius: 50%;
    height: 80px;
    width:80px;
    background-color: #ecb3db;
    top: 120px;
    left: 0px;
    background-image: radial-gradient(
    rgb(235, 170, 221) 40%,
    rgb(182, 33, 115)  150%
      );
}
.mouth1{
    display: flex;
    position: absolute;
    border-radius: 50%;
    height: 30px;
    width:100px;
    background-color: #0f0f0f;
    top: 200px;
    left: 90px;
}
.mouth2{
    display: flex;
    position: absolute;
    height: 20px;
    width:20px;
    background-color:  rgb(255, 255, 255) ;
    top: 200px;
    left: 125px;
}
.grimace{
    outline:1px red solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.bbody{
    position:relative;
    background-color: rgb(64, 132, 221);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    
  
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.eyecon{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:-250px;
    
}
.eyeball{
    display: flex;   
    justify-content: center;

}

.eyeball2{
    display: flex;
    justify-content: center;
   
}

.eyeball3{
    display: flex;
    justify-content: center;
   
}

.eye3{
    position: relative;
    border-radius: 50%;
    height: 100px;
    width:100px;
    background-color: #ffffff;
    background-image: radial-gradient(
    rgb(255, 255, 255) 40%,
    rgb(12, 36, 68)  150%
    );
   left:-10px;
}

.eye4{
    display: flex;
    position: relative;
    border-radius: 50%;
    height: 100px;
    width:100px;
    background-color: #ffffff;
    background-image: radial-gradient(
    rgb(255, 255, 255) 40%,
    rgb(12, 36, 68)  150%
   );
    right:-10px;
}

.eye5{
    display: flex;
    position: relative;
    border-radius: 50%;
    height: 50px;
    width:50px;
    background-color: #000000;
    right:35px;
    top:-70px
}

.eye6{
    display: flex;
    position: relative;
    border-radius: 50%;
    height: 50px;
    width:50px;
    background-color: #000000;
    left:35px;
    top:-70px
}


.eye7{
    display: flex;
    position: relative;
    border-radius: 50%;
    height: 20px;
    width:20px;
    background-color: #ffffff;
   top:-110px;
   left:90px;
}

.eye8{
    display: flex;
    position: relative;
    border-radius: 50%;
    height: 20px;
    width:20px;
    background-color: #ffffff;
    top:-110px;
    left:190px;
}

.eyecover1{
    top:-90px;
    right:20px;
    position: relative;
    border-radius: 50%;
    height: 100px;
    width:250px;
    background-color:  rgb(64, 132, 221);
    transition: background-color;
}

.mouthcon{
    position: relative;
    display: flex;
    transition: background-color 0.5s ease;
}

.mouth3{
    display: flex;
    position: relative;
    border-radius: 50%;
    height: 50px;
    width:250px;
    background-color:  rgb(83, 83, 83);
    bottom:380px;
    left:20px;
}

.teef1{
    display: flex;
    position: relative;
    height: 30px;
    width:20px;
    background-color:  rgb(255, 255, 255) ;
    bottom:360px;
    right:100px;
}

.teef2{
    display: flex;
    position: relative;
    height: 30px;
    width:20px;
    background-color:  rgb(255, 255, 255) ;
    bottom:360px;
    right:160px;
}

.mouth4{
    display: flex;
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width:250px;
    background-color:    rgb(64, 132, 221);
    bottom:390px;
    left: 20px;
    transition: background-color ;
    padding-bottom: 10px;
}

.box3{
    height:150px;
    width:250px;
    background-color: blueviolet;
   animation-name: animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.grimace:hover > .bbody{
  background-color: #e74c3c;
}

.grimace:hover > .mouthcon > .mouth4{
  background-color: #e74c3c;
  opacity: 0.000001;

}

.grimace:hover > .eyecon> .eyeball3> .eyecover1{
  background-color: #e74c3c;
  opacity: 0.000001;
}


@keyframes animation {
  from {background-color: blueviolet;}
  to {background-color: rgb(164, 214, 255);}
}

.box4{
      position: relative;
    height:150px;
    width:250px;
    background-color: blueviolet;
    animation-name: animation2;
    animation-duration: 4s ;
    animation-iteration-count: infinite;
}

@keyframes animation2 {
  0%   {background-color:rgb(231, 104, 199); left:0px; top:0px;}
 
  100% {background-color:rgb(95, 12, 12);  left:2000px; top:0px;}
}
.box5{
    position: relative;
    height:50px;
    width:50px;
    background-color: blueviolet;
    animation-name: rotation;
    animation-duration: 4s ;
    animation-iteration-count: infinite;
}

@keyframes rotation {
   0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}